*{
    font-family: 'Tinos', serif, Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(29, 29, 29);
}

body{
    text-align: center;
    background-color: rgba(83, 83, 83, 0.26);
}

ul{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

li {
    display: inline-block;
    background-color: rgb(192, 192, 192);
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
    height: 25%;
}

.listaNav{
    list-style-type: none;
}

.listaNav li a{
    color:rgb(255, 255, 255) !important;
}

a {
    text-decoration:none;
    color:rgb(180, 171, 171);

}

img {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: gray;
}

small {color: rgb(131, 128, 128);}