*{
    font-family: 'Tinos', serif, Verdana, Tahoma;
    box-sizing: border-box;
    color: rgb(29, 29, 29);
}

body{
    text-align: center;
    background-color: rgba(83, 83, 83, 0.26);
}

ul{
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 95%;
}

li {
    background-color: rgb(192, 192, 192);
    margin-right: auto;
    margin-left: auto;
    width: 24.5%;
}

.listaNav{
    list-style-type: none;
}

a {
    text-decoration: none;
    color:rgb(180, 171, 171);
}

img {
    padding: 0.5%;
    background-color: rgb(156, 156, 156);
}

small {color: rgb(131, 128, 128);}

iframe {
    padding: 0.5%;
    background-color: rgb(156, 156, 156);
}

.disclaimer{
    display: none;
}
